main::after {
    content: "";
    background-color:  steelblue;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

main {
    max-width: 70%;
    margin: auto;
    font-family: 'Yrsa', serif;
}

h1 {
    font-size: 42px;
}

h1,
h2 {
    text-align: center;
}

h2 {
    color: midnightblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 0 10px black;
  }

td, th {
    border: 1px solid black;
  }
  
  th {
      color: skyblue;
      background-color: midnightblue;
  }

  td {
      padding: 5px;
  }

  table tr:first-child td:first-child,
  table tr:first-child th:first-child {
      border-top-left-radius: 5px;
  }
